.label
{
	-fx-text-alignment: center;
	-fx-font: 20px "Serif";
	-fx-text-fill: #ccccff;
}

.button{
	-fx-border-color: transparent;
	-fx-border-width: 2;
}

.button:hover{
	-fx-border-color: #00ccff;
	-fx-border-width: 2;
}

/* these CSS are named in our application */
.stackpane
{
    -fx-background-color: #333366;
}
