.label
{
	-fx-text-alignment: center;
	-fx-font: 20px "Serif";
}

.button{
	-fx-border-color: transparent;
}
.button:hover{
	-fx-border-color: #FF00FF;
}

/* these CSS are named in our application */
.stackpane
{
    -fx-background-color: #e6eeff;
}
